<!DOCTYPE html>
<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <footer class="rounded-xl mt-8 border border-[--ui-light-border-color] dark:border-[--ui-dark-border-color]">
        <div class="max-w-6xl mx-auto space-y-16 px-6 py-16 text-gray-600 2xl:px-0">
            <div class="flex flex-wrap items-center justify-between gap-4 border-b pb-8 border-[--ui-light-border-color] dark:border-[--ui-dark-border-color]">
                <a href="/" aria-label="tailus logo">
                    <img src="img/logo.png" class="h-20">
                </a>
                <div class="flex gap-8">
                    <a href="#" target="blank" aria-label="tiktok" class="size-8 flex *:m-auto rounded-[--btn-border-radius] text-gray-600 dark:text-gray-400 hover:text-green-500 dark:hover:text-primary-500">
                        <img src="img/tiktok_logo_icon.png" class="h-8">
                    </a>
                    <a href="#" target="blank" aria-label="instagram" class="size-8 flex *:m-auto rounded-[--btn-border-radius] text-gray-600 dark:text-gray-400 hover:text-green-500 dark:hover:text-primary-500">
                        <img src="img/instagram_logo_icon.png" class="h-8">
                    </a>
                    <a href="#" target="blank" aria-label="facebook" class="size-8 flex *:m-auto rounded-[--btn-border-radius] text-gray-600 dark:text-gray-400 hover:text-green-500 dark:hover:text-primary-500">
                        <img src="img/facebook_logo_icon.png" class="h-8">
                    </a>
                    <a href="#" target="blank" aria-label="twitter" class="size-8 flex *:m-auto rounded-[--btn-border-radius] text-gray-600 dark:text-gray-400 hover:text-green-500 dark:hover:text-primary-500">
                        <img src="img/twitter_logo_icon.png" class="h-8">
                    </a>
                    <a href="#" target="blank" aria-label="whatsapp" class="size-8 flex *:m-auto rounded-[--btn-border-radius] text-gray-600 dark:text-gray-400 hover:text-green-500 dark:hover:text-primary-500">
                        <img src="img/whatsapp_logo_icon.png" class="h-8">
                    </a>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-6 sm:grid-cols-4">
                <div>
                    <span class="font-bold text-gray-950 dark:text-white">Help Center</span>
                    <ul class="mt-4 list-inside space-y-4">
                        <li>
                            <a href="#" class="text-sm text-gray-600 dark:text-gray-400 hover:text-green-500 dark:hover:text-primary-500">About</a>
                        </li>
                        <li>
                            <a href="#" class="text-sm text-gray-600 dark:text-gray-400 hover:text-green-500 dark:hover:text-primary-500">Faq's</a>
                        </li>
                        <li>
                            <a href="#" class="text-sm text-gray-600 dark:text-gray-400 hover:text-green-500 dark:hover:text-primary-500">Contact</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <span class="font-bold text-gray-950 dark:text-white">Blog</span>
                    <ul class="mt-4 list-inside space-y-4">
                        <li>
                            <a href="#" class="text-sm text-gray-600 dark:text-gray-400 hover:text-green-500 dark:hover:text-primary-500">Media</a>
                        </li>
                        <li>
                            <a href="#" class="text-sm text-gray-600 dark:text-gray-400 hover:text-green-500 dark:hover:text-primary-500">Post</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <span class="font-bold text-gray-950 dark:text-white">Community</span>
                    <ul class="mt-4 list-inside space-y-4">
                        <li>
                            <a href="#" class="text-sm text-gray-600 dark:text-gray-400 hover:text-green-500 dark:hover:text-primary-500">Tiktok</a>
                        </li>
                        <li>
                            <a href="#" class="text-sm text-gray-600 dark:text-gray-400 hover:text-green-500 dark:hover:text-primary-500">Instagram</a>
                        </li>
                        <li>
                            <a href="#" class="text-sm text-gray-600 dark:text-gray-400 hover:text-green-500 dark:hover:text-primary-500">Facebook</a>
                        </li>
                        <li>
                            <a href="#" class="text-sm text-gray-600 dark:text-gray-400 hover:text-green-500 dark:hover:text-primary-500">X / Twitter</a>
                        </li>
                        <li>
                            <a href="#" class="text-sm text-gray-600 dark:text-gray-400 hover:text-green-500 dark:hover:text-primary-500">WhatsApp</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex items-center justify-center rounded-md bg-gray-100 px-6 py-3 dark:bg-gray-900">
                <span class="text-gray-600 dark:text-gray-400">&copy; Sahabat Pulau 2024 - Present</span>
            </div>
        </div>
    </footer>
</div>
</body>
</html>