<!-- navbar -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar-admin">
    <!-- start navbar -->
    <div class="md:fixed md:w-full md:top-0 md:z-20 flex flex-row flex-wrap items-center bg-white p-6 border-b border-gray-300">

        <!-- logo -->
        <div class="flex-none w-56 flex flex-row items-center">
            <img th:src="@{/img/logo.png}" class="w-10 flex-none">
            <strong class="capitalize ml-1 flex-1">Sahabat Pulau</strong>

            <button id="sliderBtn" class="flex-none text-right text-gray-900 hidden md:block">
                <i class="fad fa-list-ul"></i>
            </button>
        </div>
        <!-- end logo -->

        <!-- navbar content toggle -->
        <button id="navbarToggle" class="hidden md:block md:fixed right-0 mr-6">
            <i class="fad fa-chevron-double-down"></i>
        </button>
        <!-- end navbar content toggle -->

        <!-- navbar content -->
        <div id="navbar" class="animated md:hidden md:fixed md:top-0 md:w-full md:left-0 md:mt-16 md:border-t md:border-b md:border-gray-200 md:p-10 md:bg-white flex-1 pl-3 flex flex-row flex-wrap justify-between items-center md:flex-col md:items-center">
            <!-- left -->
            <div class="text-gray-600 md:w-full md:flex md:flex-row md:justify-evenly md:pb-10 md:mb-10 md:border-b md:border-gray-200">

            </div>
            <!-- end left -->

            <!-- right -->
            <form th:action="@{/logout}" method="post">
                <div class="flex flex-row-reverse items-center">
                    <button class="shadow-sm rounded-full bg-indigo-600 px-3 hover:bg-indigo-800 transition-all duration-700 text-white text-base font-semibold leading-7" type="submit">
                        <i class="fad fa-user-times text-xs mr-1"></i>
                        Logout
                    </button>

                </div>
            </form>

            <!-- end right -->
        </div>
        <!-- end navbar content -->

    </div>
    <!-- end navbar -->
</div>
</body>
</html>
