<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}" th:with="activeTitle='Media',activeTab='MEDIA'">
<head>
    <div layout:fragment="customCss">
    </div>
</head>
<body>
<div layout:fragment="content">

    <!-- Hero Section -->
    <section class="py-16 mt-28">
        <div class="container mx-auto px-6 text-center">
            <h2 class="text-4xl font-extrabold text-gray-800">Media</h2>
        </div>
    </section>


</div>
<div layout:fragment="customScript">
</div>
</body>
</html>
